<div class="text-center font-bold text-2xl p-4">
  <h3>Lista de Albumes</h3>
</div>

<div class="flex flex-col items-center gap-4">
@for(album of albumList; track album.id) {
<div class="w-full max-w-sm px-4 py-3 bg-white rounded-md shadow-md dark:bg-gray-800">
  <div class="flex items-center justify-between">
    <span class="text-sm font-light text-gray-800 dark:text-gray-400">
      Id: {{album.id}}
    </span>
    <span
      class="px-3 py-1 text-xs text-blue-800 bg-blue-200 rounded-full dark:bg-blue-300 dark:text-blue-900">
      User: {{album.userId}}
    </span>
  </div>

  <div>
    <h1 class="mt-2 text-lg font-semibold text-gray-800 dark:text-white">
      {{album.title}}
    </h1>
    <!-- <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Odio eligendi similique exercitationem optio libero vitae accusamus cupiditate laborum eos.
    </p> -->
  </div>
</div>
}
</div>