hola mundo 

<form >
  <input type="text" name="nombre" [(ngModel)]="nombre" placeholder="nombre">
  <input type="text" name="ci" [(ngModel)]="ci" placeholder="ci">
  <input type="button" (click)="onClickAgregar()" value="agregar">
</form>

{{nombre}}-{{ci}}

<app-lista [items]="listaDatos" />

<ul>
  <li><a routerLink="home" routerLinkActive="router-LinkActive">Home</a></li>
  <li><a routerLink="album" routerLinkActive="router-LinkActive">Album</a></li>
</ul>

<router-outlet />
