<header tuiNavigationHeader style="height: 3rem">
  <span tuiNavigationLogo>
    <tui-icon
      icon="@tui.diamond-percent"
      [style.height.px]="32"
      [style.width.px]="32"
    />
    <h2 [style.font-size]="'larger'">Marketing: Administración de Eventos</h2>
  </span>

  <hr />

  <tui-avatar src="EV" />
  
  <button
      appearance="secondary-grayscale"
      iconStart="@tui.log-out"
      tuiButton
      type="button"
      (click)="logout()"
  >
      Cerrar Sesión
  </button>
</header>

<!-- [style.height]="'95dvh'" -->
<div [style.display]="'flex'" [style.flex]="'1 1 auto'">
  <aside [tuiNavigationAside]="expanded" [style.display]="'flex'">
    <header>
      <button
        tuiAsideItem
        type="button"
        [iconStart]="expanded ? '@tui.chevron-left' : '@tui.chevron-right'"
        (click)="expanded = !expanded"
      >
        {{ expanded ? "Contraer" : "Expandir" }}
      </button>
    </header>
    <div>
      <a 
        *ngFor="let item of sidebarItems"
        tuiAsideItem
        [routerLink]="[item.route]"
        iconStart="{{item.icon}}"
        (click)="handleSidebarClick(item)"
      >
        <span>{{ item.label }}</span>
      </a>

      <hr />
      <button iconStart="@tui.plus" tuiAsideItem type="button"></button>

    </div>
  </aside>

  <main
    tuiNavigationMain
    [style.display]="'flex'"
    [style.flex-direction]="'column'"
    [style.justify-content]="'start'"
  >
    <nav tuiNavigationNav [style.position]="'sticky'" [style.height.rem]="3.5">
      <tui-badge 
        ngIf="selectedSidebarItem"
        [iconStart]="selectedSidebarItem ? selectedSidebarItem.icon : ''"
        appearance="primary"
        size="xl"
      ></tui-badge>
      <span tuiNavigationLogo>
        <span tuiFade>{{ selectedSidebarItem ? selectedSidebarItem.label : 'HOME PAGE' }}</span>
      </span>

      <hr />

      <!-- <button tuiButton type="button">Primary</button> -->
    </nav>

    <div>
      <!-- <router-outlet 
        (activate)="updateNavButton($event.navButtonInfo?.emit({ label: $event.buttonLabel, route: $event.buttonRoute }))"
      ></router-outlet> -->
      <router-outlet></router-outlet>
    </div>

  </main>
</div>
